<!DOCTYPE html>
<html>
  <head>
    <title>JournalData</title>
    <meta charset="utf-8">
    <script src="../static/bundle.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <link rel= "stylesheet" type= "text/css" href= "{{ font_url }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/app.css') }}">
  </head>

  <body>
    <div id="content"></div>

    <form action="upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Upload File">
    </form>
  </body>
</html>
