@import url(reset.css);
@import url(nav.css);
@import url(elements.css);
@import url(charts.css);
@import url(word-cloud.css);

html, body {
  height: 100%;
  overflow: hidden;
}

#content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}

#home {
  display: flex;
  flex-direction: column;
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
}

h3 {
  font-size: 45px;
  padding-bottom: 25px;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}
