@import url(reset.css);
@import url(nav.css);
@import url(elements.css);
@import url(charts.css);
@import url(word-cloud.css);

#home {
  display: flex;
  flex-direction: column;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 45px;
  padding-bottom: 25px;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}
