.pie-with-text {
  display: flex;
  padding: 0;
  margin: 0 17px 0 22px;
}

.text-area {
  margin: 60px;
}

.custom-label {
  z-index: 100;
  background-color: blue;
  height: 80px;
  width: 200px;
}

.legend {
  margin-top: 32px;
}

.legend-row {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.legend-div {
  width: 30px;
  height: 30px;
  margin-right: 15px;
}
