.full-width-element {
  background-color: green;
  margin: 0;
  padding: 72px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.inner-element {
  background-color: white;
  padding: 0;
  max-width: 950px;
  width: 950px;
}

/* //////////////////////////////////
//
// Comment-out everything below
// to disable full-width background colors
//
////////////////////////////////// */

#full-width-word-count {
  background-color: orange;
}

#full-width-cloud {
  background-color: blue;
}

#full-width-pronouns {
  background-color: yellow;
}

#full-width-time-orientation {
  background-color: pink;
}
